/* --- Variables --- */
@define-color bg #1a1b26;
@define-color text #c0caf5;

/* Colors for text now */
@define-color color-cpu #e0af68;  /* Orange */
@define-color color-temp #7dcfff; /* Blue */
@define-color color-mem #9ece6a;  /* Green */
@define-color color-audio #bb9af7;
@define-color color-clock #f7768e;

/* --- Reset & Base --- */
* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    color: @text;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0 10px;
    color: @text;
    background: transparent;
}

#workspaces button.active {
    color: @color-temp;
}

/* --- Modules Common --- */
#cpu, #temperature, #memory, #pulseaudio, #clock, #tray, #language {
    padding: 0 10px;
    margin: 0 5px;
    background-color: transparent;
}

/* --- Module Specifics (Colored Text) --- */
#cpu { color: @color-cpu; }
#temperature { color: @color-temp; }
#memory { color: @color-mem; }
#pulseaudio { color: @color-audio; }
#clock { color: @color-clock; }

/* Language and Tray keep default text color unless specified otherwise */
#language { color: @text; }
