/* --- Variables --- */
@define-color bg #1a1b26;
@define-color text #c0caf5;
@define-color text-dark #1a1b26;

@define-color color-cpu #e0af68;  /* Orange */
@define-color color-temp #7dcfff; /* Blue */
@define-color color-mem #9ece6a;  /* Green */
@define-color color-audio #bb9af7;
@define-color color-clock #f7768e;

/* --- Reset & Base --- */
* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: @bg;
    color: @text;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0 10px;
    color: @text;
    background: transparent;
}

#workspaces button.active {
    color: @color-temp;
}

/* --- Modules Common --- */
#cpu, #temperature, #memory, #pulseaudio, #clock, #tray {
    padding: 0 15px;
    margin: 4px 4px;
    border-radius: 15px;
    color: @text-dark;
}

/* --- Module Specifics --- */
#cpu { background-color: @color-cpu; }
#temperature { background-color: @color-temp; }
#memory { background-color: @color-mem; }
#pulseaudio { background-color: @color-audio; }
#clock { background-color: @color-clock; }

#tray {
    background-color: shade(@bg, 1.2); /* Slightly lighter than bar */
    color: @text;
}