{
    "layer": "top",
    "modules-left": ["hyprland/workspaces"],
    "modules-center": ["clock"],
    "modules-right": ["cpu", "memory", "pulseaudio", "tray"],
    "clock": {
        "format": "{:%H:%M | %d %b %Y} ",
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>"
    },
    "cpu": {
        "format": "CPU: {usage}% ",
        "interval": 2
    },
    "temperature": {
        "thermal-zone": 2,
        "hwmon-path": "/sys/class/hwmon/hwmon2/temp1_input",
        "critical-threshold": 80,
        "format": "{temperatureC}°C ",
        "interval": 2
    },
    "memory": { "format": "RAM: {}% " }
}
               
* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.7); /* Темный полупрозрачный */
    border-bottom: 2px solid rgba(100, 114, 125, 0.3);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    background-color: #7aa2f7;
    color: #1a1b26;
    border-radius: 5px;
}
