{
    "layer": "top",
    "modules-left": ["hyprland/workspaces"],
    "modules-center": ["clock"],
    "modules-right": ["cpu", "memory", "pulseaudio", "tray"],
    "clock": { "format": "{:%H:%M} " },
    "cpu": { "format": "CPU: {usage}% " },
    "memory": { "format": "RAM: {}% " }
}
